.profile-pic{
	width: 100%;
	height: 640px;
	object-fit: cover;
}

.profile-container{
    width: 340px;
}

h2{
    margin: 0px;
}

h4{
    margin-top: 6px;
    color: rgb(255, 123, 0);
}

.actors{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	gap: 16px;
}

.profile-content{
    display: flex;
}

.add-data{
    display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 500px;
	margin: 10px auto;
}

img{
    width: 320px;
	height: 320px;
	object-fit: cover;
    border-radius: 50%;
}